parser/alltests/hardtests
parser/alltests/simpletests
parser/alltests/mediumtests

parser/rfc/arbres
parser/html/

parser/*.o
parser/ourParser

simplegrammarparser/testFile
simplegrammarparser/simplegrammar.exe
simplegrammarparser/abnf.o
simplegrammarparser/validations.txt
simplegrammarparser/html/

.vscode/
.vscode/tasks.json
.vscode/launch.json
server/src/server.exe
