parser/alltests/hardcorefiles/
parser/alltests/simplesfiles/
parser/alltests/simplefiles/
parser/simplegrammar/testFile
parser/premier-jeu-test
parser/simplegrammar/simplegrammar.exe
parser/simplegrammar/abnf.o
parser/simplegrammar/validations.txt
parser/simplegrammar/html/
parser/*.o
parser/html/
parser/main.o
parser/ourParser
.vscode/
.vscode/tasks.json
.vscode/launch.json
