parser/alltests/
parser/rfc/arbres
parser/html/
parser/*.o
parser/*.tgz

simplegrammarparser/testFile
simplegrammarparser/simplegrammar.exe
simplegrammarparser/validations.txt
simplegrammarparser/html/

server/src/server.exe
server/src/*.o
server/documentation/

documents/html/
documents/latex/
documents/introduction_apache

.vscode/